{% extends 'layout.twig' %}

{% block content %}
<h1>{{ title }}</h1>

<!-- Formularz edycji raportu -->
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Edytuj Zadanie</h3>
        <form action="" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Tytuł</label>
                <input type="text" class="form-control" id="title" name="title" value="">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Opis</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Data końcowa</label>
                <input type="date" class="form-control" id="date" name="date" value="">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Klient</label>
                <select class="form-control" id="author" name="client">
                        <option value="no_value">&nbsp;</option>
                    {% for client in clientsList %}
                        <option value="{{ client.id }}">{{client.id}}: {{ client.first_name }} {{client.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" name="edit_task_btn" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
</div>

{% endblock %}
